html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.total {
	border: 1px solid black;
	height: 50%;
	width: 80%;
	position: absolute;
	top: 40%;
	left: 56%;
	transform: translate(-50%, -50%);
	border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
	border: 1px solid #e3e6f0;
}

.subject {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: #f8f9fc;
	border-bottom: 1px solid #e3e6f0;
}

.content {
	width: 90%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 40px;
	padding-right: 40px;
}