/* 사이드 메뉴바(왼쪽) */
.left_sidemenu_div {
	width: 12%;
	min-height: 100vh;
	background: linear-gradient(to bottom, rgb(19, 151, 213), #1674a1);
	z-index: 1000;
	position: fixed;
	/* 	top: 5%; */
	padding-top: 3%;
}

.pro_img {
	display: flex;
	width: 90%;
	height: 150px;
	margin: 0 auto;
	border-radius: 50%;
	margin-top: 5%;
}

.pro_img>img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.member_detail {
	margin: 0 auto;
	width: 95%;
	border: 1px solid black;
	font-size: 70%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.left_sidemenu {
	overflow: hidden;
	list-style: none;
	padding: 0;
}

.left_sidemenu>li {
	text-decoration: none;
	width: 100%;
	text-align: center;
	line-height: 40px;
	padding-bottom: 5%;
	transition: background-color 0.5s ease;
}

.left_sidemenu a {
	text-decoration: none;
	color: #fff;
	display: block;
}

/* .left_sidemenu .submenu a {
  color: #fff;
  display: block;
  color: rgb(19, 151, 213)
} */
.submenu>li {
	line-height: 50px;
	background-color: rgb(22, 116, 161);
}

.left_sidemenu>li:hover {
	overflow: hidden;
}
.submenu li a:hover {

    background-color: white;
    color: rgb(22, 116, 161);
}

.left_sidemenu>li:hover .submenu {
	height: auto;
}

.submenu a>li:hover .submenu {
	height: auto;

}

.submenu {
	height: 0;
	overflow: hidden;
	padding: 0;
	transition: height 0.5s ease;
}